@font-face {
  font-family: 'Panchang';
  src: url('/fonts/panchang-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('/fonts/panchang-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('/fonts/panchang-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('/fonts/panchang-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
