<?xml version="1.0" ?>
<robot name="arm">
  <link name="base_link"/>
  <link name="arm_a_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_a.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="arm_b_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_b.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="arm_c_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_c.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="arm_d_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_d.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="arm_e_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_e.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="arm_gripper_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/arm_gripper.glb"/>
      </geometry>
    </visual>
  </link>
  <joint name="chassis_to_arm_a" type="prismatic">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="arm_a_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="40"/>
  </joint>
  <joint name="arm_a_to_arm_b" type="revolute">
    <origin rpy="0 0 0" xyz="4.452 0 5.163"/>
    <parent link="arm_a_link"/>
    <child link="arm_b_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.344" upper="0.2617"/>
  </joint>
  <joint name="arm_b_to_arm_c" type="revolute">
    <origin rpy="0 0 0" xyz="53.271 0 0"/>
    <parent link="arm_b_link"/>
    <child link="arm_c_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.0471" upper="3.0543"/>
  </joint>
  <joint name="arm_c_to_arm_d" type="revolute">
    <origin rpy="0 0 0" xyz="39.525 0 8.329"/>
    <parent link="arm_c_link"/>
    <child link="arm_d_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.1344" upper="1.1344"/>
  </joint>
  <joint name="arm_d_to_arm_e" type="revolute">
    <origin rpy="1.570796 0 0" xyz="0 0 0"/>
    <parent link="arm_d_link"/>
    <child link="arm_e_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619"/>
  </joint>
  <joint name="arm_e_to_arm_gripper" type="prismatic">
    <origin rpy="0 0 0" xyz="8.375 0 0"/>
    <parent link="arm_e_link"/>
    <child link="arm_gripper_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="8.8"/>
    <dynamics damping="1.0"/>
  </joint>
</robot>
