<?xml version="1.0" ?>
<robot name="left_suspension">
  <link name="base_link"/>
  <link name="left_rocker_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_rocker.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="left_lambda_lower_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_lambda_lower.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="left_lambda_front_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_lambda_front.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="left_lambda_rear_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_lambda_rear.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="left_lambda_crank_front_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_front_lambda_crank.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="left_lambda_crank_rear_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_rear_lambda_crank.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="front_left_wheel_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_wheel.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="center_left_wheel_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_wheel.glb"/>
      </geometry>
    </visual>
  </link>
  <link name="back_left_wheel_link">
    <visual>
      <geometry>
        <mesh filename="../meshes/rover_left_wheel.glb"/>
      </geometry>
    </visual>
  </link>
  <joint name="base_to_left_rocker" type="fixed">
    <parent link="base_link"/>
    <child link="left_rocker_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <joint name="left_rocker_to_left_lambda_lower" type="revolute">
    <parent link="left_rocker_link"/>
    <child link="left_lambda_lower_link"/>
    <origin rpy="0 0 0" xyz="-27.73 5.577 -15.460"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_rocker_to_left_lambda_crank_rear" type="revolute">
    <parent link="left_rocker_link"/>
    <child link="left_lambda_crank_rear_link"/>
    <origin rpy="0 0 0" xyz="-27.73 9.809 -1.220"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_rocker_to_left_lambda_crank_front" type="revolute">
    <parent link="left_rocker_link"/>
    <child link="left_lambda_crank_front_link"/>
    <origin rpy="0 0 0" xyz="-27.73 10.760 -1.220"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_lambda_lower_to_left_lambda_front" type="revolute">
    <parent link="left_lambda_lower_link"/>
    <child link="left_lambda_front_link"/>
    <origin rpy="0 0 0" xyz="15.755 4.708 5.735"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_lambda_lower_to_left_lambda_rear" type="revolute">
    <parent link="left_lambda_lower_link"/>
    <child link="left_lambda_rear_link"/>
    <origin rpy="0 0 0" xyz="-15.755 4.708 5.735"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_rocker_to_front_left_wheel" type="continuous">
    <parent link="left_rocker_link"/>
    <child link="front_left_wheel_link"/>
    <origin xyz="34.781 15.7933 -28.303"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_lambda_front_to_center_left_wheel" type="continuous">
    <parent link="left_lambda_front_link"/>
    <child link="center_left_wheel_link"/>
    <origin rpy="0 0 0" xyz="11.343 9.594 -18.319"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="left_lambda_rear_to_back_left_wheel" type="continuous">
    <parent link="left_lambda_rear_link"/>
    <child link="back_left_wheel_link"/>
    <origin rpy="0 0 0" xyz="-11.343 9.594 -18.319"/>
    <axis xyz="0 1 0"/>
  </joint>
</robot>
