<!-- Color band transition from dark to light -->
<div class="flex flex-col">
  <div class="h-4 bg-michigan-blue"></div>
  <div class="h-4 bg-mrover-base"></div>
  <div class="h-4 bg-mrover-accent"></div>
  <div class="h-4 bg-michigan-maize"></div>
</div>

<div class="max-w-content mx-auto px-6 lg:px-8 pt-8 pb-4 bg-white">
  <div class="flex justify-center items-center space-x-8 text-4xl text-mrover-base">
    <a
      class="fa fa-github hover:text-mrover-accent transition-colors"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/umrover/mrover-ros"
      aria-label="GitHub"></a>
    <a
      class="fa fa-twitter hover:text-mrover-accent transition-colors"
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/umrover"
      aria-label="Twitter"></a>
    <a
      class="fa fa-instagram hover:text-mrover-accent transition-colors"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/umrover/"
      aria-label="Instagram"></a>
    <a
      class="fa fa-youtube-play hover:text-mrover-accent transition-colors"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/channel/UCGQuDeJxL2HAH8deR6OT7yA"
      aria-label="YouTube"></a>
  </div>
</div>
